
body {
    background-color: aqua;
}

@media screen and (max-width: 768px){
    .mainMenu{
        display: none;
    }

    .mainMenu.toggleCls{
        display: block;
    }

}

@media screen and (min-width: 769px){
    .hamIcon{
        display: none;
    }
    .mainMenu.toggleCls{
        display: initial;
    }
}